.view-donations-page {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.donation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
}

.donation-item h3 {
  margin: 0;
  font-size: 1.2rem;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #d32f2f;
}